extends common/layout-game.pug
block custom
	-
		let pageName = 'Game 4'
		let pageFileName = path.basename(`${website + string2slug(pageName)}.html`)

block meta-title
	title #{pageName} | #{projectName}

block content
	.section.section-game.mb-0
		.game-bg(style="background-image: url(assets/images/gallery/gallery-h-4.jpg)")
		.container
			.row
				.col-lg-5
					.game-heading
						.m-b-7
							.decor-title 04
							.progress.progress-brand
								.progress-bar(style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100")
						.section-title How much color do you want?
						p.description Let us know your business. We will pick some ideas suitable for you in the best way
				.col-lg-6.offset-lg-1
					.game-answer-wrapper
						.row.justify-content-center
							each name, j in ['Colorful', 'Pop', 'Neutral']
								.col-lg-6
									a(href="#").item
										.item-thumbnail
											img.thumbnail(src=`assets/images/gallery/gallery-h-${j+5}.jpg`)/
										.text-center.p-y-4.p-x-4
											.price.font-weight-semi= name
						.d-sm-flex.justify-content-between.text-right
							a(href="game-3.html").btn.btn-default 
								i.ri-arrow-left-line
								| Back
							| 
							a(href="game-5.html").btn.btn-brand Next
								i.ri-arrow-right-line

block script
	script.
		$('.game-answer-wrapper .item').on('click', function(e){
			e.preventDefault();
			$('.game-answer-wrapper .item').removeClass('active');
			$(this).addClass('active');
		});