include common/mixins/mixins.pug
include common/var.pug

block custom

- let noHeadFoot = (pageFileName !== 'sign-up.html' && pageFileName !== 'sign-in.html')

doctype html
html
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")

		block meta-title
		
		// CSS
		link(rel="shortcut icon" href="assets/images/logo/logo-shape.png")
		link(rel="stylesheet" type="text/css" href="assets/plugins/bootstrap/dist/css/bootstrap.min.css")
		//- link(rel="stylesheet" type="text/css" href="assets/plugins/metismenu/dist/metisMenu.min.css")
		link(rel="stylesheet" type="text/css" href="assets/plugins/remixicon/fonts/remixicon.css")

		link(rel="stylesheet" type="text/css" href="assets/plugins/photoswipe/dist/photoswipe.css")
		link(rel="stylesheet" type="text/css" href="assets/plugins/photoswipe/dist/default-skin/default-skin.css")
		
		- if (pageFileName === 'gallery-detail.html' || pageFileName === 'design-book.html')
			link(rel="stylesheet" type="text/css" href="assets/plugins/slick-carousel/slick/slick-theme.css")
			link(rel="stylesheet" type="text/css" href="assets/plugins/slick-carousel/slick/slick.css")

		link(rel="stylesheet" type="text/css" href="assets/plugins/animate.css/animate.min.css")

		block page-script
		link(rel="stylesheet" type="text/css" href="assets/css/style.min.css")

	
	body
		- if (noHeadFoot)
			// Header
			-
				let headerClassName = pageFileName === 'index.html' ? 'is-dark' : 'is-light'
				let customizeClassName = pageFileName === 'index.html' ? 'btn-outline-white--transparent' : 'btn-brand'
			header.header.is-sticky(class=headerClassName)
				.container-fluid
					.main-nav.row
						//- .nav-left.px-3
						.nav-left.col-lg-6
							a(href="index.html").logo
								img.logo-dark(src="assets/images/logo/logo-w@3x.png")
								img.logo-light(src="assets/images/logo/logo@2x.png")
							//- .search-box(style="max-width: unset;")
							.search-box
								form(action="javascript:void(0);")
									.input-group.input-group-custom
										input.form-control(type='text' placeholder="Search..")/
										.input-group-append
											button.btn
												i.ri-search-line
							.search-box-mobile
								a(href="#")
									i.ri-search-line

						//- .nav-right.px-3
						.nav-right.col-lg-6
							ul.nav-menu.not-sign-in
								li
									a(href="index.html") Home
								li
									a(href="gallery.html") Gallery
								li
									a(href="design-book.html") Design Book
								li.vertical-divide
								li.no-border-line.show-sp
									a(href="game-1.html" class=customizeClassName).btn.btn-sm.customize-btn.mr-0 Start your design
								

						.search-box-mobile-content
							.input-group.input-group-custom
								input.form-control.form-control-lg.rounded-0(type='text' placeholder="Search..")/
								.input-group-append
									button.btn.close-search-box
										i.ri-close-line
			-
				let mobileNavigation = [
					{
						title: 'Home',
						icon: 'ri-home-3-line',
						href: 'index.html'
					},
					{
						title: 'Gallery',
						icon: 'ri-layout-line',
						href: 'gallery.html'
					},
					{
						title: 'Desgin Book',
						icon: 'ri-palette-line',
						href: 'design-book.html'
					}
				]

			.mobile-navigation
				ul
					each item, index in mobileNavigation
						- let active = index == 0 ? 'active' : ''
						li(class=active)
							a(href=item.href)
								i.icon(class=item.icon)
								span= item.title

		- let contentPageClassName = (pageFileName === 'index.html' || pageFileName === 'sign-up.html' || pageFileName === 'sign-in.html' || pageFileName === 'not-sign-in.html') ? 'mt-0 pt-0' : ''
		// Content Page
		.content-page(class=contentPageClassName)
			block content
			
			- if (noHeadFoot)
				// Footer
				include common/section/footer.pug

		- if (noHeadFoot)
			include common/layout/modal.pug

		// Javascript
		script(src="assets/plugins/jquery/dist/jquery.min.js")
		script(src="assets/plugins/popper.js/dist/umd/popper.min.js")
		script(src="assets/plugins/bootstrap/dist/js/bootstrap.min.js")

		script(src="assets/plugins/photoswipe/dist/photoswipe.min.js")
		script(src="assets/plugins/photoswipe/dist/photoswipe-ui-default.min.js")

		- if (pageFileName === 'gallery-detail.html' || pageFileName === 'design-book.html')
			script(src="assets/plugins/slick-carousel/slick/slick.min.js")
		block page-script

		script(src="assets/js/style.min.js")
		script.
			// On load
			const theme = new Theme();
			document.addEventListener('DOMContentLoaded', (event)=> {
				theme.init();

				window.onresize = (event)=> {
					theme.navigationCofig();
				};
			});

			let sectionBanner = $('.section-banner'),
				sectionBannerImg = sectionBanner.find('.banner-img img');
			$(document).ready(function(){
				if (window.innerWidth > 991 && window.innerHeight > 768){
					sectionBannerImg.height(window.innerHeight);
				}

				if (window.innerWidth <= 768){
					sectionBannerImg.height(window.innerHeight - mobileNav.outerHeight(true));
				}
			});
		block script